.container-middle-top {
   margin-left: 30px;
   margin-bottom: 40px;
}
.logo {
    width: 20%;
    height: 20%;
    
}
.container-middle-bottom {
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.container-top {
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.container-bottom {
    margin: 0px;
    flex-direction:column;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn-login {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.btn-bottom {
    height: 20%;
    margin:0px;
}
.container-btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
}