<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" mode = "ios">

  <div class="container-top animate__animated animate__lightSpeedInRight ">
    <img alt="Silhouette of mountains" src="../../../assets/logo.png" class="logo" />
    <ion-text>
      <p>Entryflow</p>
    </ion-text>
  </div>

  <div class="container-middle-top animate__animated animate__lightSpeedInRight ">
    <ion-text>
      <h1>Inicio de sesión</h1>
    </ion-text>
    <ion-label>
      <p>¡Hola! Qué gusto verte de nuevo.</p>
    </ion-label>
  </div>
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <div class="container-middle-bottom animate__animated animate__lightSpeedInRight ">
      <ion-list>

        <ion-item>
          <ion-label position="stacked" color="primary">Correo electrónico</ion-label>
          <ion-input type="text" placeholder="johndoe@gmail.com" inputmode="email"  formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Por favor ingresa un correo electrónico</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="primary">Contraseña</ion-label>
          <ion-input type="password" placeholder="........." formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Por favor ingresa una contraseña</ion-note>
        </ion-item>

      </ion-list>
      <div class="container-btn-login">
        <ion-button expand="block" color="primary" class="btn-login" mode="ios" type="submit" [disabled]="!credentials.valid">Iniciar sesión</ion-button>
      </div>
    </div>
  </form>

  <div class="container-bottom animate__animated animate__lightSpeedInRight ">
    <ion-text>
      <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
    </ion-text>
    <ion-text>
      <p>¿Olvidaste tu contraseña? <a href="/forgot-password">Recupérala</a></p>
    </ion-text>
  </div>

</ion-content>
