
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" [strong]="true" color="danger">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Crear empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button  type="submit" [strong]="true" color="success" (click)="confirm()" [disabled]="!credentials.valid">Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="confirm()">
  <ion-item lines="none">
    <ion-label position="stacked" color="primary">Foto de perfil</ion-label>
    <div *ngIf="selectedImageDataUrl">
      <img [src]="selectedImageDataUrl" style="width: 40%; margin-top:8px;" alt="Selected Image" (click)="takePicture()">
    </div>
    <div *ngIf="!selectedImageDataUrl">
      <img style="width: 40%; margin-top:8px;" src="https://ionicframework.com/docs/img/demos/avatar.svg"  (click)="takePicture()">
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Nombre</ion-label>
    <ion-input type="text" placeholder="John" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Apellido paterno</ion-label>
    <ion-input type="text" placeholder="Doe" formControlName="middle_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Apellido materno</ion-label>
    <ion-input type="text" placeholder="Ipsum" formControlName="last_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Número de telefono</ion-label>
    <ion-input type="number" placeholder="664373218" formControlName="phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Correo electrónico</ion-label>
    <ion-input type="text" placeholder="john.doe@gmail.com" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Número de control</ion-label>
    <ion-input type="text" placeholder="2021859" formControlName="num_control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Género</ion-label>
    <ion-select  okText="Aceptar" cancelText="Cancelar" formControlName="gender">
      <ion-select-option value="M">Masculino</ion-select-option>
      <ion-select-option value="F">Femenino</ion-select-option>
      <ion-select-option value="O">Otro</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Fecha de nacimiento</ion-label>
    <ion-datetime presentation="date" formControlName="birth_date" ></ion-datetime>
  </ion-item>
</form>
</ion-content>
