<ion-header [translucent]="true" mode="ios">

  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true" mode="ios">

       <div class="animate__animated animate__backInUp">

        <!--informacion del perfil del usuario-->
         <div class="profileInfo">

           <!--imagen de perfil-->
           <!-- <div text-center>
              <p align="center">
                <ion-img
                style="width: 40%; margin-top: 50px;"
                src="{{ profile.avatar }}">
                </ion-img>
              </p>
           </div> -->

           <div class="card">
            <div class="header">
              <div class="avatar">
                <img src="{{profile.avatar}}" alt="">
              </div>
            </div>
          </div>




         <!--carta de informacion del perfil-->
           <div class="card-body">
             <div class="user-meta ion-text-center">
               <h1 class="userName">{{profile.name}} {{profile.middle_name}} {{profile.last_name}}</h1>
               <h5 class="company">{{profile.company}}</h5>
             </div>
           </div>

         </div>
       </div>


      <!--botones de la pantalla del perfil-->
       <div class="Buttons" mode="ios">

        <div class = "animate__animated animate__backInUp">

        <!--boton de editar perfil-->
        <div class="customMargin">
          <ion-button
          class="Button border"
          fill="clear"
          expand="block"
          (click)="onModalEdit()"
          >
          <ion-icon slot="end" class="ButtonIcon" name="create" size="large"></ion-icon>
          <div class="ButtonText">
            <ion-text>Editar perfil</ion-text>
          </div>
          </ion-button>
        </div>


        </div>

        <div class = "animate__animated animate__backInUp">

          <!--boton de cerrar sesión-->

          <div class="customMargin">
            <ion-button
            class="Button border"
            fill="clear"
            expand="block"
            (click)="onModalEdit()"
            >
            <ion-icon slot="end" class="ButtonIcon" name="log-out" size="large"></ion-icon>
            <div class="ButtonText">
              <ion-text>Cerrar sesión</ion-text>
            </div>
            </ion-button>
          </div>


        </div>

      </div>

</ion-content>
