.profileInfo{
  top: 40px;
}

.profileButtons {
position: relative;
}

.profileButtonIcon{
  position:absolute;
  right: 10px;
}

.profileButton{
  height: 80px;
  font-size: 20px;
  margin-bottom: 10px;
  size: large;
}

.profileButtonText{
  position:absolute;
  left: 10px;
}
