.card {
  margin: 0 auto;

  .header {

    .avatar {
      width: 160px;
      height: 160px;
      position: relative;
      margin: 0 auto;

      img {
        width: 100%;  // Asegura que la imagen se ajuste al tamaño del contenedor
        height: 100%;
        object-fit: cover;  // Mantiene la relación de aspecto de la imagen
        border-radius: 50%;
        position: absolute;
        border: 3px solid #1B305B;
      }
    }
  }
}

ion-label{
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-card-content{
  padding: 0px;
  margin-bottom: 20px;
}

ion-card-header{
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;

}

ion-input{
  height: auto;
  width: auto;
  font-family: QuickSand;
  margin: 0px;
  padding: 0px;
}

ion-card{
  font-family: QuickSand;
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 11px;
}

ion-item{
  --min-height: 16px !important;
  margin: 5%;
  margin-bottom: 0px;
  margin-top: 0px;
}


