<ion-content [fullscreen]="true" mode = "ios" class="ion-padding">



  <div color = "dark" style = "font-weight: 600;">
    <h1 style=" padding:0px; margin:0px;">
      Reportes
    </h1>
    <ion-item style="margin-left:-10px; padding:0px;" >
      <h4 slot = "end" style=" padding:0px; margin:0px;">
        Faltas
      </h4>
    </ion-item>
  </div>


 <ion-grid>

  <ion-row style="text-align: center; font-size: 14px; color:#ABB5BE ; font-weight: 550;">

    <ion-col style=" padding:0px; margin:0px;">
      <p>
        Este mes
      </p>
    </ion-col>

    <ion-col style=" padding:0px; margin:0px;">
      <p>
        Ultima semana
      </p>
    </ion-col>
    <ion-col style=" padding:0px; margin:0px;">
      <p>
        Ultimo mes
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="entryData" style=" padding:0px; margin:0px;">

      <div id="chartContainer">
        <!--GRAFICA 1-->
        <div id="chContainer1">
          <div id="radialChart1" class="chart"></div>
        </div>
     </div>

    </ion-col >

    <ion-col class="entryData" style=" padding:0px; margin:0px;">

      <div id="chartContainer">
        <!--GRAFICA 1-->
        <div id="chContainer1">
          <div id="chart1" class="chart"></div>
        </div>
     </div>

    </ion-col>
    <ion-col class="entryData" style=" padding:0px; margin:0px;">

      <div id="chartContainer">
        <!--GRAFICA 1-->
        <div id="chContainer1">
          <div id="chart2" class="chart"></div>
        </div>
     </div>

    </ion-col>
  </ion-row>

</ion-grid>


  <!--ultima grafica-->
  <div id="chartStack">
    <div id="chartStack" class="chart"></div>
  </div>


</ion-content>
