<ion-content [fullscreen]="true" mode = "ios">

  <h1 color = "dark" >
    Reportes
  </h1>

  <ion-item style = "text-align: end;">
    <ion-label>
      <p>Faltas</p>
    </ion-label>
  </ion-item>

  <div id="chartContainer">
    <!--GRAFICA 1-->
    <div id="chContainer1">
      <div id="radialChart1" class="chart"></div>
    </div>

    <!--GRAFICA 2-->
    <div id="chContainer1">
      <div id="chart1" class="chart"></div>
    </div>

    <!--GRAFICA 3-->
    <div id="chContainer2">
      <div id="chart2" class="chart"></div>
    </div>

  </div>

  <div id="chartStack">
    <div id="chartStack" class="chart"></div>
  </div>


</ion-content>
