

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <h3>Faltas</h3>
  <div id="chartContainer">
    <div id="chContainer1">
      <h5 style="text-align:center;">Este mes</h5>
      <div id="chart0" class="chart"></div>
    </div>
    <div id="chContainer1">
      <h5 style="text-align:center;">Ultima semana</h5>
      <div id="chart1" class="chart"></div>
    </div>
    <div id="chContainer2">
      <h5 style="text-align:center;">Ultimo mes</h5>
      <div id="chart2" class="chart"></div>
    </div>
  </div>
  
  <h3 style="text-align: left;">Faltas por dia</h3>
  <div id="chartStack">
    <div id="chartStack" class="chart"></div>
  </div>

  <h3>Faltas</h3>
  


</ion-content>
