/* Ejemplo de una media query para pantallas pequeñas */

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
}

#chartContainer {
  color: #000000;
}

.chart {

  flex: 1;
  margin-right: 10px;

}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

  .chart {
    flex-basis: 100%; /* Hace que los gráficos ocupen todo el ancho en pantallas pequeñas */
    margin-bottom: 10px; /* Agrega un margen inferior entre gráficos en pantallas pequeñas */
  }

}


ion-col {
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

ion-card{
  font-family: QuickSand;
}

.entryData{
  font-size: 24px;
  color: #1B305B;
}

.labelData{
  font-size: 12px;
  color: #000000;
}

.ButtonIcon{
  position: absolute;
  right: 10px;
}

.Button{
  padding: 11px;
  height: 80px;
  margin-bottom: 0px;
  size: large;
}

.ButtonText{
  text-align: left;
  position: absolute;
  font-weight: bold;
  font-family: QuickSand;
  left: 10px;
}
