<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">

  <ion-card>

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

  </ion-card>

  <div id="chContainer1">
    <div id="chart0" class="chart"></div>
  </div>


<ion-content [fullscreen]="true">
  <ion-button (click)="openUrl()" expand="block">Open URL</ion-button>
  
</ion-content>
