.homeCardHeader{
  height: 45%;
}

.homeCardContent{
  height: 55%;
}

.entryData{
  font-size: 24px;
  color: #1B305B;
}

.labelData{
  font-size: 12px;
}

.homeBorder{
  box-shadow: none !important;
  height: 33%;
  margin: 11px;
  border: 1px solid #1B305B;
  border-radius: 10px;
  border-width: 2px;
  padding: 0;
}

.chartBorder{
  height: 44%;
  margin: 11px;
  border: 1px solid #1B305B;
  border-radius: 10px;
  border-width: 2px;
  padding: 0;
}

ion-col {
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

ion-card{
  font-family: QuickSand;
}


.ButtonIcon{
  position: absolute;
  right: 10px;
}

.Button{
  height: 15%;
  size: large;
}

.ButtonText{
  text-align: left;
  position: absolute;
  font-weight: bold;
  font-family: QuickSand;
  left: 10px;
}
