<ion-header [translucent]="false" mode="ios">
    <ion-toolbar>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">

  <ion-card class="homeBorder">

    <ion-card-header class="homeCardHeader">

      <ion-card-title style="text-align: center;">11,200</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Registro de entradas</ion-card-subtitle>

    </ion-card-header>


    <ion-card-content class="homeCardContent">

      <ion-grid style="margin-top: 5%;">
        <ion-row>
          <ion-col class="entryData">
            1119
          </ion-col >
          <ion-col class="entryData">
            9980
          </ion-col>
          <ion-col class="entryData">
            980
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-grid >

        <ion-row >
            <ion-col class="labelData">
              Faltas
            </ion-col>
            <ion-col class="labelData">
              A tiempo
            </ion-col>
            <ion-col class="labelData">
              Tarde
            </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>

  </ion-card>



  <div id="chart0" class="chart chartBorder"></div>




  <!--boton de editar perfil-->
    <ion-button
    class="Button homeBorder"
    fill="clear"
    expand="block"
    id="present-alert"
    >
    <ion-icon slot="end" class="ButtonIcon" name="play-skip-forward-circle-outline" size="large"></ion-icon>
    <div class="ButtonText">
      <ion-text >Empezar a registrar<br>
         entradas/salidas</ion-text>
    </div>
    </ion-button>


    <ion-alert
      trigger="present-alert"
      header="Registrar"
      [buttons]="alertButtons"
      [inputs]="alertInputs"
    ></ion-alert>




<!--

        <ion-select placeholder="Elegir">
          <ion-select-option value = "1">Entrada</ion-select-option>
          <ion-select-option value = "2">Salida</ion-select-option>
        </ion-select>
 -->



</ion-content>
