<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Empleados</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onModalCreate()">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode = "ios">

  <!--barra de busqueda-->
  <!-- <ion-searchbar animated="true" placeholder="Buscar empleado" class="animate__animated animate__fadeInUpBig" mode="ios"></ion-searchbar> -->
  <ion-searchbar style="font-family: QuickSand;" placeholder="Buscar empleados..." [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-list lines="full" class="animate__animated animate__fadeInUpBig" mode="ios">

    <ion-item-sliding *ngFor="let employee of employees">

        <!--elemento de lista que al darle click muestra la informacion del usuario-->
        <ion-item (click)="onModalViewEmployeeInfo(
          employee.name,
          employee.middle_name,
          employee.last_name,
          employee.phone,
          employee.email,
          employee.num_control,
          employee.gender,
          employee.birth_date,
          employee.avatar)">

          <ion-avatar slot="start">
            <img src="{{employee.avatar}}">
          </ion-avatar>
          <ion-label style = "font-family: QuickSand; font-weight: 500;"> {{employee.name}} {{employee.middle_name}} {{employee.last_name}} </ion-label>

        </ion-item>

        <!--opciones del sliding-->
      <ion-item-options side="start">

        <!--opcion de editar -->
        <ion-item-option (click)="onModalEdit(employee.name,
        employee.middle_name,
        employee.last_name,
        employee.phone,
        employee.email,
        employee.num_control,
        employee.gender,
        employee.birth_date,
        employee.avatar,
        employee.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>

        <!--opcion de eliminar-->
        <ion-item-option color="danger" (click)="onAlert(employee.id,employee.name,employee.middle_name,employee.last_name)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
