<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="cancel()" [strong]="true" color="danger">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" color="success">Aceptar</ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>




<ion-content class="ion-padding" [fullscreen]="true">

  <div text-center>
      <p align="center">
        <ion-img
        style="width: 40%; margin-top: 50px;"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        alt="The Wisconsin State Capitol building in Madison, WI at night">
        </ion-img>
      </p>
  </div>

  <form [formGroup]="newProfileInfo">

    <ion-item>
      <ion-label position="stacked" color="primary">Nombre</ion-label>
      <ion-input type="text" placeholder="John" inputmode = "name" formControlName = "name"></ion-input>
      <ion-note slot="error" *ngIf = "(name.dirty || name.touched) && name.invalid">Únicamente letras</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Apellido paterno</ion-label>
      <ion-input type="text" placeholder="Doe" inputmode="first_name" formControlName="first_name"></ion-input>
      <ion-note slot="error" *ngIf = "(first_name.dirty || first_name.touched) && first_name.invalid">Únicamente letras</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Apellido materno</ion-label>

      <ion-input
      type="text"
      placeholder="Ipsum"
      inputmode="second_name"
      formControlName="second_name"></ion-input>

      <ion-note slot="error" *ngIf = "(second_name.dirty || second_name.touched) && second_name.invalid">Únicamente letras</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Número de telefono</ion-label>

      <ion-input
      type="tel"
      placeholder="664373218"
      inputmode="phoneNumber"
      formControlName="phoneNumber"
      [counter]="true"
      maxlength="10"></ion-input>

      <ion-note slot="error" *ngIf = "(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid">Max. 10 digitos</ion-note>

    </ion-item>

  </form>

</ion-content>
